@import 'src/scss/variables';

$playersHeight: 110px;
$playersHeightTablet: 70px;

%player_common {
  height: $playersHeight;
  width: 100%;
  background-color: $whiteBlue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 50px;
  font-size: 50px;
  @media (max-width: 650px) {
    font-size: 35px;
    height: $playersHeightTablet;
  }
  @media (max-width: 500px) {
    font-size: 35px;
    padding: 5px 20px;
  }
  @media (max-width: 400px) {
    font-size: 25px;
    padding: 5px 10px;
  }
  div {
    display: flex;
    align-items: center;
  }
}

.players {
  margin-top: 20px;
  @extend %player_common;

  div {
    display: flex;
    align-items: center;
  }
}

.player {
  @extend %player_common;

  overflow: hidden;
  transition: height 0.4s;
}

.expand_btn {
  margin-left: 10px;
  width: 40px;
  cursor: pointer;
  transition: transform 0.2s;

  @media (max-width: 650px) {
    width: 20px;
  }
}

.player_head {
  width: 60px;
  margin: 0 20px;
  @media (max-width: 650px) {
    width: 40px;
    margin: 0 10px;
  }
  @media (max-width: 450px) {
    width: 30px;
    margin-right: 10px;
  }
}

.players_count {
  font-weight: 600;
}

.circle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #db3d33;
  margin-left: 20px;
  @media (max-width: 650px) {
    width: 30px;
    height: 30px;
  }
  @media (max-width: 450px) {
    width: 20px;
    height: 20px;
  }
  &.online {
    background-color: #85c248;
  }
}

.player_names {
  overflow: hidden;
  height: 0;
  transition: height 0.5s;
  background-color: $whiteBlue;

  &.active {
  //  height: $playersHeight * 3;
    overflow-y: auto;
    //@media (max-width: 650px) {
    //  height: $playersHeightTablet * 3;
    //}
  }
}
