@import 'src/scss/variables';

.header__wrapper {
  height: 60px;
  @media (max-width: 600px) {
    height: 35px;
  }
}

.header {
  width: 100vw;
  height: 60px;
  background-color: $headerBlue;
  display: flex;
  align-items: center;
  &.sticky {
    position: fixed;
    height: 60px;
    z-index: 999;

    background-color: rgba($headerBlue, 0.9);
    backdrop-filter: blur(3px) saturate(180%);
    @media (max-width: 600px) {
      height: 35px;
    }
    .mobile_nav {
      @media (max-width: 600px) {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: flex-end;
        height: 35px;
      }
    }
  }
}

.mobile_nav {
  display: none;
}

.mobile_menu {
  width: 100vw;
  height: 0;
  overflow: hidden;
  border-collapse: collapse;
  display: none;
  transition: height 0.5s;
  position: fixed;
  z-index: 999;
  &.active {
    height: 320px;
    @media (max-width: 600px) {
      height: 240px;
    }
  }
  &.sticky {
    position: fixed;
  }
  @media (max-width: 600px) {
    display: flex;
    flex-direction: column;
  }
}

.menu_item {
  transition: height 0.4s;
  height: 80px;
  overflow: hidden;
  display: flex;
  align-items: center;

  @media (max-width: 600px) {
    width: 100vw;
    background-color: rgba($headerBlue, 0.9);
    height: 60px;
    backdrop-filter: blur(3px) saturate(180%);
  }

  @media (max-width: 600px) {
    a.nav_link {
      padding: 20px;
      font-size: 30px;
      width: calc(100vw - 2px);
      svg {
        margin-right: 12px;
      }
      @media (max-width: 400px) {
        font-size: 22px;
      }
    }
  }
}

.desktop_nav .links__wrapper {
  display: flex;
  align-items: center;
  font-size: 28px;
  @media (max-width: 1230px) {
    font-size: 25px;
  }
  @media (max-width: 1000px) {
    font-size: 20px;
  }
  @media (max-width: 800px) {
    font-size: 17px;
  }
  @media (max-width: 670px) {
    font-size: 15px;
  }
  @media (max-width: 600px) {
    display: none;
  }
}

.links {
  display: flex;
  flex: 1.6;
  justify-content: space-around;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.modals {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  padding-right: 20px;
  @media (max-width: 600px) {
    padding-right: 0;
  }
}

a.nav_link {
  color: #fafafa;
  display: flex;
  align-items: center;
  svg {
    margin-right: 12px;
    @media (max-width: 1000px) {
      margin-right: 8px;
    }
    @media (max-width: 670px) {
      margin-right: 6px;
    }
  }
}

.nav_link_text {
  transition: opacity 0.2s;
}

.icon__wrapper {
  transition: transform 0.5s;
  color: #ffffff;
  width: 20px;
  margin: 0 5px 0 auto;
  display: flex;
  align-items: center;
  &.active {
    transform: rotate(90deg);
  }
}
