body {
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
  color: $mainBlack;
}

a {
  color: $lightBlue;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.swiper-slide img {
  height: 400px;
  width: auto;
}
