body {
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
  color: $mainBlack;
  animation: append 0.4s;
}

@keyframes append {
  0% {
    opacity: 0;
    //transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    //transform: translateX(0);
  }
}

a {
  color: $lightBlue;
  cursor: pointer;
}

section {
  margin-bottom: 130px;
  @media (max-width: 700px) {
    margin-bottom: 60px;
  }
}

#play {
  margin-bottom: 30px;
}

h2 {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 20px;
  @media (max-width: 850px) {
    font-size: 40px;
    margin-bottom: 10px;
  }
  @media (max-width: 650px) {
    font-size: 35px;
  }
  @media (max-width: 400px) {
    font-size: 30px;
  }
}

.container {
  width: 1200px;
  margin: 0 auto;
  @media (max-width: 1200px) {
    width: 1000px;
  }
  @media (max-width: 1000px) {
    width: 850px;
  }
  @media (max-width: 850px) {
    width: 700px;
  }
  @media (max-width: 700px) {
    width: 650px;
  }
  @media (max-width: 650px) {
    width: 550px;
  }
  @media (max-width: 550px) {
    width: 500px;
  }
  @media (max-width: 500px) {
    width: 450px;
  }
  @media (max-width: 450px) {
    width: 400px;
  }
  @media (max-width: 400px) {
    width: 320px;
  }
}

.hidden {
  display: none;
}

.text-container {
  width: 100%;
  font-size: 22px;
  padding: 0 5px;
  @media (max-width: 1000px) {
    font-size: 20px;
  }
  @media (max-width: 800px) {
    font-size: 18px;
  }
  @media (max-width: 600px) {
    font-size: 16px;
  }
}

.right-image {
  margin-left: 40px;
  padding-right: 40px;
  &.bee {
    width: 180px;
  }
  &.piglin {
    width: 220px;
    align-self: flex-end;
  }
  @media (max-width: 850px) {
    display: none;
  }
}

.swiper-slide img,
.swiper-slide picture {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.swiper-container {
  margin-top: 40px;
  .swiper-button-prev,
  .swiper-button-next {
    transform: scale(0.5);
  }
}

.info {
  display: flex;
  align-items: center;
}
